<% layout('/layout/boilerplate') %>
<body>

<div class="row">
    <div class="col-8 offset-2">
        <h3>Create New Listings:</h3>
        <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div>
            <label for="title" class="form-label">Title</label>
            <br>
            <input name="listing[title]" id="title" placeholder="enter title" type="text" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please Enter Title
            </div>
            </div>
            <div>
                <label for="description" class="form-label">Description</label>
                <br>
                <textarea name="listing[description]" id="description" placeholder="enter description " type="text" class="form-control" cols="5" rows="12" required></textarea>
                <div class="valid-feedback">
                    Nice Description
                </div>
                <div class="invalid-feedback">
                    Please Enter Description
                </div>
            </div>
            <div>
                <label for="image" class="form-label">Image Url</label>
                <br>
                <input name="listing[image]" id="image" type="file" class="form-control">
                <br>
            </div>
            <div class="row">
                
                <div class="col-4">
                    <label for="price" class="form-label">Price</label>
                    <br>
                    <input name="listing[price]" id="price" placeholder="enter price" type="text" class="form-control" required>
                    <div class="valid-feedback">
                        Good
                    </div>
                    <div class="invalid-feedback">
                        Please Enter Price
                    </div>
                </div>



                <div class="col-8">
                    <label for="location" class="form-label">Location</label>
                    <br>
                    <input name="listing[location]" id="location" placeholder="enter location" type="text" class="form-control" required>
                    <div class="valid-feedback">
                        Nice Location
                    </div>
                    <div class="invalid-feedback">
                        Please Enter Location
                    </div>

                </div>

            </div>


            <div>   
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" id="country" placeholder="enter country" type="text" class="form-control" required>
            <div class="valid-feedback">
                Good
            </div>
            <div class="invalid-feedback">
                Please Enter Country
            </div>
            </div>

            <button class="btn btn-dark btn-add">
                Add
            </button>
            <br><br><br>

        </form>

    </div>
    

</div>
    
    
    
</body>
