<% layout("/layout/boilerplate") %>
<body>
    <div class="row">
        <div class="alert alert-danger col-6 offset-3">
            <p class="msg">
                <i class="fa-solid fa-triangle-exclamation icon"></i>
                <%=message%>
            </p>
             
        </div>
      </div>
    
</body>


